@import "_standardy.scss";

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    overflow-x: hidden;
}
main{
    background: $bg no-repeat;
    margin-top: 10vh;
}

header{
    @include flex-center;
    @include hamburger(none);
    background-color: $white;
    height: 10vh;
    width: 100%;
    font-family: $font-escri;
    position: fixed;
    top: 0px;
    z-index: 2;

    nav{
        @include flex-center;
        justify-content: space-between;
        padding:  0 40px;
        width: 100%;
        
        p{
            border-radius: 20px;
            padding: 5px 10px;
            border: 2px solid #FFF;
            transition: all 1s;
            z-index: 0;

            i, a{
                position: relative;
                font-size: 2rem;
                color: #000;
                font-family: $font-escri;
                font-weight: 600;
                margin: 0 5px;
                z-index: 1;
            }

            &:hover{
                @include button();
            }
        }

        ul{
            @include flex-center;

            li{
                a{
                    border-radius: 20px;
                    align-items: center;
                    padding: 5px 10px;
                    border: 2px solid #ffffff;
                    font-size: 2rem;
                    margin: 0 20px;
                    font-family: $font-escri;
                    color: black;
                    transition: all 1s;

                    i{
                        font-size: 35px;
                    }

                    &:hover{
                        @include button();
                    }
                }
            }
        }
    }
}

.first{
    @include flex-center;
    height: 90vh;

    .center{
        @include flex-center;
        flex-direction: column;
        align-self: self-end;

        .hand{
            @include flex-center;
        }

        .cards{
            .card1{
                transform: translate(10px, 10px) rotate(-10deg);
                animation: giro 3s linear infinite;
            }
            .card2{
                transform: translate(0px, 0px) rotate(0deg);
                z-index: 1;
                animation: giro2 3s linear infinite;
            }
            .card3{
                transform: translate(-10px, 10px) rotate(10deg);
                animation: giro3 3s linear infinite;
            }
        }

    }

    .text, .welcome{
        margin: 50px;
        p{
            font-size: 3rem;
            width: 550px;
            color: #FFF;
            text-align: center;
        }
    }

    .welcome{
        align-self: self-start;
    }
    
    .text{
        align-self: self-end;
    }
}
#second, #second, #third, #fourth{
    @include flex-center;
    flex-direction: column;
    height: 100vh;

    h1{
        font-size: 5rem;
        color: $white;
    }

    p{
        width: 50%;
        margin: 50px;
        font-size: 3rem;
        color: $white;
    }

    img{
        width: 30%;
    }

    .page{
        @include flex-center;
    }
}

#fifth{
    @include flex-center;
    flex-direction: column;
    height: 90vh;
    margin-top: 10vh;

    h1{
        font-size: 5rem;
        color: $white;
    }

    p{
        width: 900px;
        margin: 50px;
        font-size: 3rem;
        color: $white;
    }

    img{
        width: 60%;
    }

    .page{
        @include flex-center;
    }
}

footer{
    background-color: aqua;
    width: 100vw;
}


@keyframes giro{
    0% {
        transform: translate(10px, 10px) rotate(-10deg) rotateY(360deg);
    }
    100% {
        transform: translate(10px, 10px) rotate(-10deg);
    }
}
@keyframes giro2{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg) ;
    }
}
@keyframes giro3 {
    0% {
        transform: translate(-10px, 10px) rotate(10deg) rotateY(360deg);
    }
    100% {
        transform: translate(-10px, 10px) rotate(10deg);
    }
}


@media (min-width: 320px) and (max-width: 680px) {
    header{
        @include hamburger(block);
        position: fixed;
        top: 0px;
        z-index: 2;

        nav{
            @include flex-center;
            justify-content: space-between;
            padding:0px 20px 0px 0px;
            width: 100%;
            z-index: 1;

            ul{
                position: absolute;
                top: 0%;
                left: 100%;
                display: flex;
                justify-content: space-evenly;
                background-color: $white;
                height: 100vh;
                flex-direction: column;
                width: 50%;
                transition: all 1s;
                text-align: center;

                li{
                    @include flex-center;
                    text-align: center;
                    a{
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    main{
        margin-top: 10vh;
    }


    .first{
        @include flex-center;
        flex-direction: column;
        justify-content: center;

        .center{
            @include flex-center;
            flex-direction: column;
            align-self: center;

            img{
                width: 50%;
            }

            .cards{
                @include flex-center;
                align-items: center;

                .card1{
                    transform: translate(10px, 10px) rotate(-10deg);
                }
                .card2{
                    transform: translate(0px, 0px) rotate(0deg);
                    z-index: 1;
                }
                .card3{
                    transform: translate(-10px, 10px) rotate(10deg);
                }

                img{
                    width: 20%;    
                }
            }

            .hand{
                @include flex-center;
            }
        }

        .welcome, .text{
            align-self: center;

            p{
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                text-align: center;
                width: 100%;
            }
        }        
    }

    #second, #third, #fourth, #fifth{
        @include flex-center;
        flex-direction: column;
        height: 100vh;
        margin-top: 10vh;

    
        h1{
            font-size: 2rem;
            color: $white;
            text-align: center;
        }
    
        p{
            width: 90%;
            height: 90%;
            text-align: center;
            line-height: 40px;
            margin: 0px;
            font-size: 1.5rem;
            color: $white;
        }
    
        img{
            width: 100%;
            height: 60%;
            opacity: 0.1;
            // display: none;
            position: absolute;
        }
    
        .page{
            @include flex-center;
            flex-direction: column;
            position: relative;
        }
    }
}

