@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');


$bg: linear-gradient(45deg, #26003f, #000000, #000000);
$white: #FFF;
$font: "Bodoni Moda SC", serif;
$font-escri: 'Nixie One', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
}

body{
    background: $bg no-repeat;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    border: 2px solid blue;
    background-color: $white;
    height: 10vh;
    width: 100%;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  0 40px;
        width: 100%;
        
        ul{
            display: flex;

        }
    }
}

main{
    height: 90vh;
    border: 2px solid red;
}

